.root {
  .article {
    margin-top: 30px;
    position: relative;

    .pointer {
      position: absolute;
      opacity: 0;
      transform: translate(-150%, 20%);
    }

    &:hover {
      .pointer {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  a {
    text-decoration: underline;
  }
}
